@CHARSET "EUC-KR";
body { width: 60%; margin: auto; }
a, a:link, a:visited, a:active, a:hover { text-decoration: none; font-weight: bold; color: black; }
.titleLogo { cursor: pointer; }
header { height: 85px; padding: 5px; }
header > h1 { float: left; }
.userInfo { float: right; }
nav { background-color: rgb(211, 84, 0); }
.navMenu{ width: 10%; padding: 10px; }
.notInput{
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	border: 0;
    background: rgba(0,0,0,0);
}