@CHARSET "EUC-KR";
img { width: 100%; height: auto; }

section { float: right; width: 75%; padding: 10px; }
section > div { width: 100%; margin: auto; }

textarea { width: 100%; margin-bottom: 10px; }
.postDiv > form > div > textarea { height: 300px; }
.postDiv > form > div > textarea,
.postDiv > form > div > input, { width: 100%; margin-bottom: 10px; }
.postDiv > form > div > input { width: 47%; }
.postHead > .contentForm > textarea, 
.postHead > .contentForm > input { width: initial; margin-bottom: 10px; }
.postHead > h1 { text-align: center; }
form > input { margin-bottom: 0; }
.postDiv { 
	overflow: hidden;
	width: 100%;
	box-shadow: 3px 3px 3px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid black;
}
.postHead {
	background-color: rgba(230, 126, 34, 0.7);
	padding: 5px;
	border-bottom: 1px solid black;
}
.postHead > form > div { float: right; font-size: 12px; }
.postDeleteBtn { float: right; margin-left: 10px; }
.postContent{ padding: 10px; }
.postFoot{
	background-color: rgba(243, 156, 18, 0.7);
	padding: 5px;
	border-top: 1px solid black;
}
.postFoot > input:FIRST-CHILD { float: left; }
.postFoot > form { float: right; }
.postFoot > form > input { margin-right: 10px; }
.postFoot > form > input:LAST-CHILD { 
	float: right;
	width: initial;
}
.replyBody { margin-top: 30px; }
.replyWriteOkBtn { width: 100%; }